.container {
  margin-top: -10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradient);
}


.header_1 {
  color: var(--font-blue);
  text-align: center;
  font-size: 30px;
  margin-top: 1em;
}

.header_2 {
  margin-top: 2em;
  color: var(--font-blue);
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image_div {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1em;
  width: 100%;
  height: 75vh;
  object-fit: "contain";
  position: relative;
}

.reach_out_card {
  border-radius: 10px;
  margin-top: 2em;
  padding: 1em;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  background-image: var(--food-background);
}

.reach_inner_card {
  background: var(--background-color);
  border-radius: 20px;
  border: 2px solid #FF6B00;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 600px;
  padding: 1em 2em;
  margin: 1em 0;
}

.header_3 {
  color: var(--font-blue);
  font-size: 30px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.links {
  color: var(--font-blue);
  text-decoration: underline;
}

.outer_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
  max-width: 1000px;
  background: var(--background-color);
  background-image: var(--food-background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form_card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  justify-items: center;
  width: 90%;
  max-width: 600px;
  padding: 2em 0em;
  margin: 1em 0;
  border-radius: 20px;
  border: 2px solid #FF6B00;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input {
  border-radius: 10px;
  border: 1px solid #C1694F;
  padding: 1em;
  font-size: 18px;
}

.submit_button {
  font-size: 22px;
  align-items: center;
  padding: 0.75em 2em;
  margin-top: 1em;
  border-radius: 46px;
  border: 1px solid #000;
  background: var(--btn-gradient);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}


@media screen and (min-width: 768px) {
  .container {
    margin-top: 1em;
  }

}